$def with (place, activities=None, header=True)

$var title: $place.name - Activity

$if not activities:
    $ activities = place.get_activities()

$if header:
    <ul class="breadcrumb breadcrumb-collapse hidden-print">
        $for p in place.get_parents():
            <li><a href="$p.get_url()">$p.name</a> <span class="divider"></span></li>
    </ul>

<div>
    $if header:
        <h1 class="place-h1"><a href="$place.get_url()">$place.name</a> <span class="small">$place.type_label</span> / Activity</h1>

$if not activities:
    <em>No activity yet.</em>
$else:
    <table class="table">
        <tr>
            <th>When</th>
            <th>Who</th>
            <th>What</th>
            <th>Where</th>
        <tr>
    $for a in activities:
        $if a.type in ["volunteer-added", "coverage-added"]:
            $ data = a.get_data()
            <tr>
                <td>$datestr(a.tstamp)</td>
                <td><strong>$a.get_person().name</strong></td>
                $if a.type == "volunteer-added":
                    <td>Added <strong>$data['name']</strong> as $data['role']</td>
                $elif a.type == "coverage-added":
                    <td>Visited $data['count'] houses</td>
                $ p = a.get_place()
                <td><a href="$p.get_url()" title="$p.name">$limitname(p.name, suffixlength=15) <small>$p.type_label</small></td>
            <tr>
    </table>
</div>
