$def with (place, activities=None, header=True)

$var title: $place.name - Activity

$ user = get_current_user()
$ place_writable = place.writable_by(user)

$if not activities:
    $ activities = place.get_activity()

$if header:
    <ul class="breadcrumb breadcrumb-collapse hidden-print">
        $for p in place.get_parents():
            <li><a href="$p.get_url()">$p.name</a> <span class="divider"></span></li>
    </ul>

<div>
    $if header:
        <h1 class="place-h1"><a href="$place.get_url()">$place.name</a> <span class="small">$place.type_label</span> / Activity</h1>

$if not activities:
    <em>No activity yet.</em>
$else:
    <table class="table">
        <tr>
            <th>When</th>
            <th>Who</th>
            <th>What</th>
            <th>Where</th>
        <tr>
    $for a in activities:
        $if a.type in ["volunteer-added", "coverage-added", "voterid-added"]:
            $ data = a.get_data()
            $ vol = a.get_volunteer()
            $ notes = vol and vol.notes or ""
            $ signup = (a.type == 'volunteer-added') and a.person_id is None and notes.startswith("signup")
            $if signup:
                $a.update(type='signup', person_id=data.get('volunteer_id'))
            <tr>
                <td>$datestr(a.tstamp)</td>
                <td>
                    $ person = a.person_id and a.get_person()
                    $if person:
                        <strong><a href="$person.get_url()">$person.name</a></strong>
                    $else:
                        <em>-</em>
                </td>
                $if a.type == "signup":
                    <td>Signed up as booth agent.</td>
                $elif a.type == "volunteer-added":
                    $ vol = a.get_volunteer()
                    $if place_writable and vol:
                        <td>Added <a href="$vol.get_url()"><strong>$vol.name</strong></a> as $data['role']</td>
                    $else:
                        $# this'll work even when the volunteer is deleted
                        <td>Added <strong>$data['name']</strong> as $data['role']</td>
                $elif a.type == "coverage-added":
                    <td>Visited $data['count'] houses</td>
                $elif a.type == "voterid-added":
                    $ voterid = data.get("voterid")
                    $if data.get("volunteer_id") == a.person_id:
                        <td>Updated his Voter ID to <a href="/voterid/$voterid">$voterid</a></td>
                    $elif vol:
                        <td>Updated Voter ID of <a href="$vol.get_url()">$vol.name</a> to <a href="/voterid/$voterid">$voterid</a></td>
                    $else:
                        <td>-</td>
                $ p = a.get_place()
                <td><a href="$p.get_url()" title="$p.name">$limitname(p.name, suffixlength=15) <small>$p.type_label</small></td>
            <tr>
    </table>
</div>
