$def with (place, form, add_users=False)

$var title: $place.name

$def render_field(field, **kwargs):
    $ kwargs['class'] = "form-control"
    $if field.errors:
        $ klass="has-error"
    $else:
        $ klass=''
    <div class="form-group $klass">
        $:field.label
        $:field(**kwargs)
        <ul class="help-block list-unstyled">
            $for error in field.errors:
                <li>$error</li>
        </ul>
    </div>    

<ul class="breadcrumb">
    $for p in place.get_parents():
        <li><a href="$p.get_url()">$p.name</a> <span class="divider"></span></li>
    <li><a href="$place.get_url()">$place.name</a></li>
</ul>

$if add_users:
  <h1>Add User</h1>
$else:
  <h1><a href="$place.get_url()">$place.name</a> <span class="small">$place.type_label</span> / Add Volunteer</h1>

<form role="form" method="POST" style="width: 400px">
  $:render_field(form.name, placeholder="Enter name")
  $:render_field(form.phone, placeholder="Phone Number")
  $:render_field(form.email, placeholder="Email Address")
  $:render_field(form.voterid)
  $:render_field(form.role)

  <button type="submit" class="btn btn-default">Add</button>
</form>