$def with (user, form, success=False)

$var title: Change Your Password

<h1>Change Your password</h1>


$def render_field(field, **kwargs):
    $ kwargs['class'] = "form-control"
    $if field.errors:
        $ klass="has-error"
    $else:
        $ klass=''
    <div class="form-group $klass">
        $:field.label
        $:field(**kwargs)
        <ul class="help-block list-unstyled">
            $for error in field.errors:
                <li>$error</li>
        </ul>
    </div>

$if not user:
    <div class="alert alert-danger">
        <p><strong>Error!</strong></p>
        <p>Your password reset link seems invalid or expired. Please <a href="/reset-password">request again</a>.
    </div>
$elif success:
    <div class="alert alert-success">
        <p><strong>Success!</strong></p>
        <p>Your password has been updated successfully. Please <a href="/login">log in</a> to continue.
    </div>
$else:
    <form role="form" method="POST" style="width: 400px">
        <div class="form-group">
            <label for="email">E-mail address</label>
            <input type="text" class="form-control" name="email" id="email" value="$user.email" disabled/>
        </div>

        $:render_field(form.password)
        $:render_field(form.password2)
        <button type="submit" class="btn btn-default">Reset my password</button>
    </form>
