$def with (volunteer)
$var subject: Thank You for Registering as a Volunteer
$ booth = volunteer.place
$ ward = booth.get_parent("WARD")
$ ward_coordinators = ward and ward.get_coordinators()
$ ac = booth.get_parent("AC")
$ ac_coordinators = ac and ac.get_coordinators()
$ pc = booth.get_parent("PC")
$ pc_coordinators = pc and pc.get_coordinators()
Dear $volunteer.name,

Thank you for registering as a volunteer at booth $booth.code of $ac.name Assembly Consituency.

You have been registered with the following details:

	Name: $volunteer.name
	Phone: $volunteer.phone
	E-mail: $volunteer.email

$if ward_coordinators: Your ward incharge is $ward_coordinators[0].name - $ward_coordinators[0].phone.
$if ac_coordinators: Your AC Adhyaksha is $ac_coordinators[0].name - $ac_coordinators[0].phone.
$if pc_coordinators: And your Loksabha Adhyaksha is $pc_coordinators[0].name - $pc_coordinators[0].phone.

Thank you for stepping up and volunteering. Together, we can easily overthrow the corrupt politicians and bring in the change that we wish to see in the country.

Jai Hind! Jai Karnataka!!

---
Aam Aadmi Party, Karnataka
Facebook : https://www.facebook.com/AAPKarnataka
Twitter : @aapkarnataka