$def with (agent)
$var subject: Lets win booth by booth for AAP
Dear $agent.name,

Over the last 1 year or more, 1000s of selfless volunteers have been working very hard to create awareness for clean politics and for AAM AADMI PARTY. We now have one last thing that needs to be done.

You need to devote just 1 day of your time to win your booth for AAP.

Please sign up to become a Polling Booth Agent for the election day. You will be the representative of AAP for your neighbors that belong to the same booth. Your presence at the Booth will directly help AAP cross the finish line.

Please click the link below to fill in your voter ID details and be part of the change that you wish to see in the country. You will receive more details once you register. 

$if agent.get_url():
    http://cms.aapvol.in/account/edit/$agent.get_edit_token()
$else:
    http://ka.aapvol.in/signup/$agent.get_signup_token()

Jai Hind! Jai Karnataka!!

---
Aam Aadmi Party, Karnataka
Facebook : https://www.facebook.com/AAPKarnataka
Helpline : 080-23012227
Twitter : @aapkarnataka

Not interested to receive emails us? 
Please unsubscribe at http://ka.aapvol.in/unsubscribe?email=$agent.email