$def with (place)

$var title: $place.name / Groups

<h4><a href="$place.get_url()">$place.name</a> <span class="small">$place.type_label</span></h4>
<h1 style="margin-top: 0px;">Polling Booth Groups</h1>

<p>Polling Booths are divided in to groups for ease of managing.</p>

<p>There are two kinds of Polling Booth Groups:
  <ul>
    <li>wards - defined by the system and can't be modified</li>
    <li>groups - added by coordinators</li>
  </ul>
</p>
<p>
  The <a href="$place.get_url()/booths">Polling Booths</a> page has provision to assign any polling booth to an existing group/ward.
</p>

<div class="row" style="background: #f7f7f9; border: 1px solid #e1e1e8; padding-bottom: 20px;">
  <div class="col-md-6">
    <h2>Groups</h2>
    $ groups = place.get_groups()
    $if groups:
        <ul class="list-unstyled">
        $for g in groups:
            <li class="place" style="border-bottom: 1px solid #ddd; padding: 10px">
              <h4>
                <a href="$g.get_url()">$g.name</a> 
                <small>$len(g.get_places()) PBs</small>
                <a href="javascript;" class="edit-group-link pull-right">Edit</a>
              </h4>
              <form method="POST" class="edit-group-form" style="display: none;">
                <h4 style="display:inline;">$g.code</h4> 
                <input type="hidden" name="code" value="$g.code"/>
                <input type="hidden" name="action" value="update-group"/>
                <input type="text" name="name" value="$g.name.split('-', 1)[-1]" style="width: 300px;"/>
                <button class="btn btn-primary">Save</button>
                <a href="javascript;" class="btn btn-danger edit-group-cancel">Cancel</a>
              </form>
            </li>
        </ul>
    $else:
        <em>No groups added yet.</em>
    <h3>Add New Group</h3>
    <form method="POST">
      <h4 style="color: #aaa; display: inline;">GXX - </h4><input type="text" name="name" value="" placeholder="Enter name of the group" style="width: 300px; font-size: 18px;"/>
      <button type="submit" name="action" value="new-group" style="font-size: 18px;">Add</button>
      <br/>
      <small>Code for the new group will be assigned automatically.</small>
    </form>
  </div>
  <div class="col-md-6">
    <h2>Wards</h2>
    $ wards = place.get_wards()
    $if wards:
        <ul class="list-unstyled">
        $for w in wards:
            <li class="place" style="border-bottom: 1px solid #ddd; padding: 10px">
              <h4>
                <a href="$w.get_url()">$w.name</a> 
                <small>$len(w.get_places()) PBs</small>
              </h4>
            </li>
        </ul>
    $else:
        <em>This AC has no wards.</em>
  </div>
</div>

<script type="text/javascript">
\$(function() {
  \$(".edit-group-link").click(function() {
    \$(this).closest("h4").hide();
    \$(this).closest("li").find(".edit-group-form").show();
    return false;
  });
  \$(".edit-group-cancel").click(function() {
    \$(this).closest("li").find("h4:first").show();
    \$(this).closest("li").find(".edit-group-form").hide();
    return false;
  });
});
</script>