$def with (place)

$var title: $place.name / Polling Booths

<h4><a href="$place.get_url()">$place.name</a> <span class="small">$place.type_label</span></h4>
<h1 style="margin-top: 0px;">Polling Booths</h1>

<div class="alert alert-warning">
    <strong>Warning!</strong> Be very careful when you are changing exiting ward to something else. There is no undo!
</div> 

<div id="example">
</div>

<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" style="background: #eee; min-height: 0px; padding: 10px 0px; border-top: 1px solid #ddd;">
  <div class="container">
    <a href="javascript;" id="save" class="btn btn-primary">Save</a>
    <a href="$place.get_url()" id="cancel" class="btn btn-danger pull-right">Cancel</a>
  </div>
</nav>

<style type="text/css">
    body { padding-bottom: 70px; }
    .handsontable th, .handsontable td {
        padding: 5px;
    }
</style>

<script type="text/javascript">
\$(function() {
    $ data = [{"code": p.code, "name": p.name, "ward": p.get_zone(), "px": p.get_parent("PX") and p.get_parent("PX").name} for p in place.get_all_polling_booths()]
    var data = $:json_encode(data);

    $ wards = [w.name for w in place.get_wards()] + [w.name for w in place.get_groups()] 
    var wards = $:json_encode(wards);
    $ pxs = [px.name for px in place.get_children("PX")]
    var pxs = $:json_encode(pxs)

    \$('#example').handsontable({
      data: data,
      colHeaders: ["Code", "Name", "PX", "Ward / Group"], 
      columns: [{
        data: "code",
        readOnly: true,
      }, {
        data: "name",
        readOnly: true,        
      }, {
        data: "px",
        type: 'dropdown',
        source: pxs
      }, {
        data: "ward",
        type: 'dropdown',
        source: wards
      }],
      contextMenu: false,
      colWidths: [75, 400, 400, 200]
    });
});

\$(function() {
    \$("a#save").click(function(e) {
        e.preventDefault();

        handsontable = \$("#example").data("handsontable");
        console.log(handsontable.getData());
        \$.ajax({
            url: window.location.href,
            data: JSON.stringify({"data": handsontable.getData()}),
            dataType: "json",
            type: 'POST',
            success: function (res) {
              if (res.result === 'ok') {
                alert('Data saved');
              }
              else {
                alert('Save error');
              }
            },
            error: function () {
                alert('Save error');
            }
        });
    });
});
</script>