$def with (place, notes=None)

$var title: $place.name -- Volunteers

<ul class="breadcrumb">
    $for p in place.get_parents():
        <li><a href="$p.get_url()">$p.name</a> <span class="divider"></span></li>
</ul>
<h1><a href="$place.get_url()">$place.name</a> / Volunteers</h1>

<table class="table table-bordered" id="people-table">
    <thead>    
    <tr>
        <th>#</th>
        <th>Volunteer</th>
        <th>Voter ID</th>
        <th>Role</th>
        <th>Location</th>
        <th>Joined On</th>
        <th>notes</th>
    </tr>
    </thead>
    <tbody>    
    $for p in place.get_all_volunteers(["coordinator", "volunteer", "pb_agent"], notes=notes):
        <tr class="vol-$p.role">
            <td>$loop.index</td>
            <td><a href="$p.get_url()">$p.name</a>
                $if p.email:
                    <div><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:$p.email">$p.email</a></div>                
                $if p.phone:
                    <div><span class="glyphicon glyphicon-phone-alt"></span> <a href="tel:$p.phone">$p.phone</a></div>
            </td>
            <td><a href="/voterid/$p.voterid">$p.voterid</a></td>
            <td>$p.role</td>
            <td><a href="$p.place.get_url()">$p.place.name</a></td>
            <td>$datestr(p.added)</td>
            <td>${p.notes or "-"}</td>
        </tr>
    </tbody>    
</table>

<script type="text/javascript" src="/static/jquery.dataTables.js"></script>
<script type="text/javascript">
\$(function() {
    \$("#people-table").dataTable({
        iDisplayLength: 100,
    });
});
</script>


<style type="text/css">
#people-table_length {
    display: none;
}
.dataTables_filter input {
    width: 300px;
}
.dataTables_info {
    float: left;
}
.dataTables_paginate {
    float: right;
}
.dataTables_wrapper {
    padding-bottom: 50px;
}
.dataTables_paginate a {
    padding: 5px;
    margin: 0px 5px;
    border: 1px solid #ddd;
}

.vol-pb_agent {
    background: #f6ffff;    
}
.vol-coordinator {
    background: #fffff6;    
}
.vol-volunteer {
    background: #fff6ff;    
}
</style>