$def with (user=None)

$var title: Permission Denied

<h1 class="text-danger">Permission Denied</h1>

$if not user or not user.is_authorized():
    <p>Only volunteers of $get_site_title() can access this system.</p>

    $if config.volunteer_signup_url:
        <p>If you would like to become a volunteer, please sign up at <a href="$config.volunteer_signup_url">$config.volunteer_signup_url</a>.</p>
$else:
    <p>Your current role does not allow you to perform this action. Please contact your coordinator for help.</p>
