$def with (person, form)

$var title: Edit $person.name

<div class="content">
    <h1>Edit $person.name</h1>
    <h2 style="margin-top: -15px;"><small>$person.role.title() for <a href="$person.place.get_url()">$person.place.name $person.place.type_label</a></small></h2>

<div class="row">
    <form role="form" method="POST" class="col-md-6">
      <div class="form-group $input_class(form.name)">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control" id="name" placeholder="Enter name" value="$form.name.value">
        $if form.name.note:        
            <span class="help-inline">$form.name.note</span>    
      </div>
      <div class="form-group $input_class(form.phone)">
        <label for="phone">Phone Number</label>
        <input type="phone" name="phone" class="form-control" id="phone" placeholder="Phone Number" value="$form.phone.value">
        $if form.phone.note:        
            <span class="help-inline">$form.phone.note</span>
      </div>
      <div class="form-group $input_class(form.email)">
        <label for="email">Email address</label>
        <input type="email" name="email" class="form-control" id="email" placeholder="Enter email"  value="$form.email.value">
        $if form.email.note:        
            <span class="help-inline">$form.email.note</span>
      </div>
      <div class="form-group $input_class(form.voterid)">
        <label for="voterid">Voter ID</label>
        <input type="text" name="voterid" class="form-control" id="voterid" placeholder="Enter Voter ID"  value="$form.voterid.value">
        $if form.voterid.note:        
            <span class="help-inline">$form.voterid.note</span>
      </div>

      <div class="form-group $input_class(form.role)">
        <label for="role">Role</label><br/>
        <select name="role" id="role">
            $:render_option("volunteer", "Volunteer", form.role.value)
            $:render_option("coordinator", "Coordinator", form.role.value)
        </select>
        $if form.role.note:        
            <span class="help-inline">$form.role.note</span>
      </div>

      <button type="submit" name="action" value="save" class="btn btn-primary">Save</button>
      <button type="submit" name="action" value="delete" class="btn btn-danger pull-right">Delete</button>
    </form>
    <div class="col-md-6">
        $ dups = person.find_dups()
        $if dups:
            <div class="alert alert-warning">
                <strong>Oops!</strong> Found $len(dups) more entries with the same email.
            
                <ul class="list-unstyled">
                $for p in dups:
                    <li style="padding: 10px;">
                        <strong>$p.name</strong> - 
                        <small>$p.role.title() for <a href="$p.place.get_url()">$p.place.name $p.place.type_label</a></small><br/>
                        $if p.email:
                            <div><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:$p.email">$p.email</a></div>
                        $if p.phone:
                            <div><span class="glyphicon glyphicon-phone-alt"></span> <a href="tel:$p.phone">$p.phone</a></div>
                    </li>
                </ul>
            </div>
        $else:
            <div class="alert alert-success">
                <strong>Yay!</strong> No duplicate entries of this person are found.
            </div>
    </div>
</div>
