$def with (person, form, show_role=True)

$var title: Edit $person.name

$def render_field(field, **kwargs):
    $ kwargs['class'] = "form-control"
    $if field.errors:
        $ klass="has-error"
    $else:
        $ klass=''
    <div class="form-group $klass">
        $:field.label
        $:field(**kwargs)
        <ul class="help-block list-unstyled">
            $for error in field.errors:
                <li>$error</li>
        </ul>
    </div>    


<div class="content">
    <h1>Edit $person.name</h1>
    $ roles = {"pb_agent": "Polling Booth Agent"}
    <h2 style="margin-top: -15px;"><small>$roles.get(person.role, person.role.title()) for <a href="$person.place.get_url()">$person.place.name $person.place.type_label</a></small></h2>

<div class="row">
    <form role="form" method="POST">
    <div class="col-md-6">
      $:render_field(form.name, placeholder="Enter name")
      $:render_field(form.phone, placeholder="Phone Number")
      $:render_field(form.email, placeholder="Email Address")
      $:render_field(form.voterid)
      $if show_role:
        $:render_field(form.role)

      <div>
      <button type="submit" name="action" value="save" class="btn btn-primary">Save</button>
      $if show_role:
        <button type="submit" name="action" value="delete" class="btn btn-danger pull-right">Delete</button>
      </div>
    </div>
    <div class="col-md-6">
        $ dups = person.find_dups()
        $if dups:
            <div class="alert alert-warning">
                <strong>Oops!</strong> Found $len(dups) more entries with the same email.
            
                <ul class="list-unstyled">
                $for p in dups:
                    <li style="padding: 10px;">
                        <strong>$p.name</strong> - 
                        <small>$p.role.title() for <a href="$p.place.get_url()">$p.place.name $p.place.type_label</a></small><br/>
                        $if p.email:
                            <div><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:$p.email">$p.email</a></div>
                        $if p.phone:
                            <div><span class="glyphicon glyphicon-phone-alt"></span> <a href="tel:$p.phone">$p.phone</a></div>
                    </li>
                </ul>
            </div>
        $else:
            <div class="alert alert-success">
                <strong>Yay!</strong> No duplicate entries of this person are found.
            </div>
    <div class="alert alert-warning">
        $ place = person.place
        $ user = get_current_user()
        $if place.get_parent('ward') and  place.get_parent('ward').writable_by(user):
            <button type="submit" name="action" value="make-ward-coordinator" class="btn btn-default">Make Ward Coordinator</button>
        $if place.get_parent('ac') and  place.get_parent('ac').writable_by(user):
            <button type="submit" name="action" value="make-ac-coordinator" class="btn btn-default">Make AC Coordinator</button>
        $if place.get_parent('pc') and  place.get_parent('pc').writable_by(user):
            <button type="submit" name="action" value="make-pc-coordinator" class="btn btn-default">Make PC Coordinator</button>
      </div>
    </div>
    </form>
</div>
