$def with (place)

$var title: $place.name

$ place_writable = place.writable_by(get_current_user())
$ subtypes = place.get_all_subtypes()

$def render_people(people):
    <table class="table table-bordered">
        $for person in people:
            <tr class="person person-$person.role">
                <td style="width: 20px;">$loop.index</td>
                <td>
                    $if place_writable:
                        <a href="$person.get_url()"><strong>$person.name</strong></a>
                    $else:
                        <strong>$person.name</strong>
                    <small>$person.role.title()</small><br/>
                    $if person.email:
                        <div><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:$person.email">$person.email</a></div>
                    $if person.phone:
                        <div><span class="glyphicon glyphicon-phone-alt"></span> <a href="tel:$person.phone">$person.phone</a></div>
                </td>
            </tr>
    </table>


<ul class="breadcrumb hidden-print">
    $for p in place.get_parents():
        <li><a href="$p.get_url()">$p.name</a> <span class="divider"></span></li>
    <li class="active">$place.name</li>
</ul>

<div class="row">
  <div class="col-md-9">
    <h1>$place.name <span class="small">$place.type_label</span></h1>

    <div class="hidden-print">
        <a href="$place.url/info">See info about this place</a>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>Volunteers</h2>
            $if place_writable:
                $ volunteers = place.get_people(roles=["coordinator", "volunteer"])
            $else:
                $ volunteers = place.get_coordinators()
            $if not volunteers:
                <p><em>None found.</em></p>
            $else:
                $:render_people(volunteers)
            $if place_writable:
                <div>
                  <a href="$place.get_url()/add-people" class="btn btn-primary active hidden-print" role="button"><span class="glyphicon glyphicon-plus"></span> Volunteer</a>
                </div>
        </div>
        <div class="col-md-6">
            <h3>Summary</h3>
            <ul class="list-unstyled" style="border-left: 5px solid #ddd; padding-left: 10px">
                $ counts = place.get_counts()
                $ vcounts = place.get_volunteer_counts()

                $for t in subtypes:
                    <li><strong>$vcounts.get(t.code, 0)</strong> vols in <strong>$counts.get(t.code, 0)</strong> $plural(t.code)</li>
            </ul>            
        </div>        
    </div>
    $if place.type == "PB":
        <h2>Coverage</h2>
        <table class="table table-bordered">
            <tr>
                <th>Date</th>
                <th>#houses visited</th>
            </tr>
            <tr>
                <td><a href="$place.get_url()/2014-02-09">February 09</a></td>
                <td><a href="$place.get_url()/2014-02-09">$len(place.get_coverage('2014-02-09'))</a></td>
            </tr>
            <tr>
                <td><a href="$place.get_url()/2014-02-10">February 10</a></td>
                <td><a href="$place.get_url()/2014-02-10">$len(place.get_coverage('2014-02-10'))</a></td>
            </tr>
            <tr>
                <td><a href="$place.get_url()/2014-02-11">February 11</a></td>
                <td><a href="$place.get_url()/2014-02-11">$len(place.get_coverage('2014-02-11'))</a></td>
            </tr>
            <tr>
                <td><a href="$place.get_url()/2014-02-12">February 12</a></td>
                <td><a href="$place.get_url()/2014-02-12">$len(place.get_coverage('2014-02-12'))</a></td>
            </tr>
            <tr>
                <td><a href="$place.get_url()/2014-02-13">February 13</a></td>
                <td><a href="$place.get_url()/2014-02-13">$len(place.get_coverage('2014-02-13'))</a></td>
            </tr>
        </table>
    $else:
        <h2>Coverage</h2>
        <table class="table table-bordered">
            <tr>
                <th>Date</th>
                <th>#houses visited</th>
            </tr>
            $for row in place.get_coverage_counts_by_date():
                <tr>
                    <td>$row.date</td>
                    <td>$row.count</td>
                </tr>
        </table>

    $if place.subtype:
        <h2>$plural(place.subtype_label)</h2>
        <table class="table table-bordered">
            $ serial = counter()
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Coordinators</th>
                <th>Volunteers</th>
                <th style="width: 200px;">Coverage</th>
            <tr> 
            $def render_place(p, klass):
                <tr class="$klass">   
                    <td>$serial.next()</td>             
                    <td><a href="$p.get_url()">$p.name</a></td>
                    <td>
                        $for person in p.get_coordinators():
                            <div>
                                $if place_writable:
                                    <a href="$person.get_url()"><strong>$person.name</strong></a>
                                $else:
                                    <strong>$person.name</strong>
                                $if person.email:
                                    <div><a href="mailto:$person.email">$person.email</a></div>
                                $if person.phone:
                                    <div><a href="tel:$person.phone">$person.phone</a></div>
                            </div>
                    </td>
                    <td>
                        <ul class="list-unstyled">
                            $for t in subtypes[1:]:
                                <li><strong>$vcounts.get(t.code, 0)</strong> vols in <strong>$counts.get(t.code, 0)</strong> $plural(t.code)</li>
                        </ul>
                    </td>
                    <td>
                        <strong>$p.get_coverage_count()</strong>
                        <small>houses visited</small>
                    </td>
                    <!--
                    $for t in subtypes:
                        <td>
                            <strong>$vcounts.get(t.code, 0)</strong> volunteers / 
                            <strong>$counts.get(t.code, 0)</strong> places
                        </td>
                    -->
                </tr>

            $for p in place.get_places():
                $ counts = p.get_counts()
                $ vcounts = p.get_volunteer_counts()
                $if sum(vcounts.values()):
                    $:render_place(p, "active")

            $for p in place.get_places():
                $ counts = p.get_counts()
                $ vcounts = p.get_volunteer_counts()
                $if not sum(vcounts.values()):
                    $:render_place(p, "inactive")
        </table>    
  </div>
  <div class="col-md-3 sidebar hidden-print">
    <section>
        <div class="header"><strong>Info</strong></div>
        <ul class="list-unstyled section-body">
            <li class="fixme">#voters: xxx</li>
            <li class="fixme">population: xxx</li>
            <li><a href="$place.get_url()/info">see more ...</a></li>
        </ul>
    </section>

    <section>
        <div class="header"><strong>Links</strong></div>
        <ul class="list-unstyled section-body parents">
            $ links = place.get_links()
            $if links:
                $for link in links:
                    <li><a href="$link.url">${link.title or limitname(link.url, 40)}</a><br/>
                        <a href="$link.url" style="color: gray;"><small>$limitname(link.url, 40)</small></a>
                    </li>
            $else:
                <li><em>None found</em></li>
            $if place_writable:
                <li><a class="btn btn-primary" href="$place.get_url()/links">Edit links</a></li>
        </ul>
    </section>

    $if place.type != 'STATE':
        <section>
            $for p in place.get_parents()[1:]:
                <div class="header">
                    <a href="$p.get_url()">$p.name</a><br><small>$p.type_label</small>
                </div>
            <div class="header"><strong>$plural(place.type_label)</strong></div>
            <ul class="list-unstyled parents section-body" style="padding: 10px;">
                $for p in place.parent.get_places():
                    $if p.id == place.id:
                        <li><strong>$p.name</strong></li>
                    $else:
                        <li><a href="$p.get_url()">$p.name</a></li>
            </ul>
        </section>
  </div>
</div>

