$def with (place)

$var title: $place.name

$ user = get_current_user()
$ place_writable = place.writable_by(user)
$ place_readable = place.writable_by(user, roles=['admin', 'coordinator', 'volunteer'])
$ subtypes = place.get_all_subtypes()

$def render_people(people):
    <table class="table table-bordered">
        $for person in people:
            <tr class="person person-$person.role">
                <td style="width: 20px;">$loop.index</td>
                <td>
                    $if place_writable:
                        <a href="$person.get_url()"><strong>$person.name</strong></a>
                    $else:
                        <strong>$person.name</strong>
                    <small>$person.role.title()</small><br/>
                    $if person.email:
                        <div><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:$person.email">$person.email</a></div>
                    $if person.phone:
                        <div><span class="glyphicon glyphicon-phone-alt"></span> <a href="tel:$person.phone">$person.phone</a></div>
                </td>
            </tr>
    </table>
$code:
    def get_color_class(vcount, count):
        if count == 0:
            return "text-muted"
        elif vcount < count * 0.667:
            return "text-danger"
        elif vcount < count * 1.333:
            return "text-warning"
        else:
            return "text-success"

<ul class="breadcrumb breadcrumb-collapse hidden-print">
    $for p in place.get_parents():
        <li><a href="$p.get_url()">$p.name</a> <span class="divider"></span></li>
</ul>

<div class="row">
  <div class="col-md-9">
    <h1 class="place-h1">$place.name <span class="small">$place.type_label</span></h1>

    <div class="hidden-print">
        <a href="$place.url/info">See info about this place</a>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>Volunteers</h2>
            $if place_readable:
                $ volunteers = place.get_people(roles=["coordinator", "volunteer"])
            $else:
                $ volunteers = place.get_coordinators()
            $if not volunteers:
                <p><em>None found.</em></p>
            $else:
                $:render_people(volunteers)
            $if place_writable:
                <div>
                  <a href="$place.get_url()/add-people" class="btn btn-primary active hidden-print" role="button"><span class="glyphicon glyphicon-plus"></span> Volunteer</a>
                </div>
        </div>
        <div class="col-md-6">
            <h3>Summary</h3>
            <ul class="list-unstyled" style="border-left: 5px solid #ddd; padding-left: 10px">
                $ counts = place.get_counts()
                $ vcounts = place.get_volunteer_counts()

                $for t in subtypes:
                    $ count = counts.get(t.code, 0)
                    $ vcount = vcounts.get(t.code, 0)
                    <li class="$get_color_class(vcount, count)"><strong>$commify(vcount)</strong> vols in <strong>$commify(count)</strong> $plural(t.code)</li>
            </ul>            
        </div>        
    </div>
    <h2>Coverage <small>Total #houses visited</small></h2>
    <div class="row">
        <div class="col-md-6">
            $:render_template("graph", place.get_coverage_data_for_graph(), "coverage-graph")
        </div>
        <div class="col-md-6">
            $ summary = place.get_coverge_summary()
            <ul class="list-unstyled">
                <li>$commify(summary['today']) houses visited today</li>
                <li>$commify(summary['yesterday']) houses visited yesterday</li>
                <li>$commify(summary['thisweek']) houses visited this week</li>
                <li><strong>$commify(summary['total']) houses visited so far</strong></li>
            </ul>
        </div>
    </div>


    $if place.type == "PB" and place_readable:
        <table class="table table-bordered" style="margin-top: 20px;">
            <tr>
                <th>Date</th>
                <th>#houses visited</th>
            </tr>
            <tr>
                <td><a href="$place.get_url()/2014-02-09">February 09</a></td>
                <td><a href="$place.get_url()/2014-02-09">$len(place.get_coverage('2014-02-09'))</a></td>
            </tr>
            <tr>
                <td><a href="$place.get_url()/2014-02-10">February 10</a></td>
                <td><a href="$place.get_url()/2014-02-10">$len(place.get_coverage('2014-02-10'))</a></td>
            </tr>
            <tr>
                <td><a href="$place.get_url()/2014-02-11">February 11</a></td>
                <td><a href="$place.get_url()/2014-02-11">$len(place.get_coverage('2014-02-11'))</a></td>
            </tr>
            <tr>
                <td><a href="$place.get_url()/2014-02-12">February 12</a></td>
                <td><a href="$place.get_url()/2014-02-12">$len(place.get_coverage('2014-02-12'))</a></td>
            </tr>
            <tr>
                <td><a href="$place.get_url()/2014-02-13">February 13</a></td>
                <td><a href="$place.get_url()/2014-02-13">$len(place.get_coverage('2014-02-13'))</a></td>
            </tr>
            <tr>
                <td><a href="$place.get_url()/2014-02-14">February 14</a></td>
                <td><a href="$place.get_url()/2014-02-14">$len(place.get_coverage('2014-02-14'))</a></td>
            </tr>
            <tr>
                <td><a href="$place.get_url()/2014-02-15">February 15</a></td>
                <td><a href="$place.get_url()/2014-02-15">$len(place.get_coverage('2014-02-15'))</a></td>
            </tr>
            <tr>
                <td><a href="$place.get_url()/2014-02-16">February 16</a></td>
                <td><a href="$place.get_url()/2014-02-16">$len(place.get_coverage('2014-02-16'))</a></td>
            </tr>
            <tr>
                <td><a href="$place.get_url()/2014-02-17">February 17</a></td>
                <td><a href="$place.get_url()/2014-02-17">$len(place.get_coverage('2014-02-17'))</a></td>
            </tr>
            <tr>
                <td><a href="$place.get_url()/2014-02-18">February 18</a></td>
                <td><a href="$place.get_url()/2014-02-18">$len(place.get_coverage('2014-02-18'))</a></td>
            </tr>
            <tr>
                <td><a href="$place.get_url()/2014-02-19">February 19</a></td>
                <td><a href="$place.get_url()/2014-02-19">$len(place.get_coverage('2014-02-19'))</a></td>
            </tr>
        </table>

    $if place_readable:
        <h2>Activity</h2>
        $if place.type in ["STATE", "PC"]:
            $ activities = place.get_activity(limit=5, types=['volunteer-added'])
        $else:
            $ activities = place.get_activity(limit=5)
        $if activities:
            $:render_template("activity", place, activities, header=False)
            <div><a href="$place.get_url()/activity">See more ...</a></div>
        $else:
            <em>No activity yet.</em>

    $def render_place(p, klass, index):
        <tr class="$klass">   
            <td>$index</td>             
            <td><a href="$p.get_url()">$p.name</a></td>
            <td>
                $for person in p.get_coordinators():
                    <div>
                        $if place_writable:
                            <a href="$person.get_url()"><strong>$person.name</strong></a>
                        $else:
                            <strong>$person.name</strong>
                        $if person.email:
                            <div><a href="mailto:$person.email">$person.email</a></div>
                        $if person.phone:
                            <div><a href="tel:$person.phone">$person.phone</a></div>
                    </div>
            </td>
            <td>
                <ul class="list-unstyled">
                    $ counts = p.get_counts()
                    $ vcounts = p.get_volunteer_counts()                    
                    $for t in subtypes[1:]:
                        $ count = counts.get(t.code, 0)
                        $ vcount = vcounts.get(t.code, 0)
                        <li class="$get_color_class(vcount, count)"><strong>$vcount</strong> vols in <strong>$count</strong> $plural(t.code)</li>
                </ul>
            </td>
            <td>
                <strong>$p.get_coverage_count()</strong>
                <small>houses visited</small>
            </td>
        </tr>

    $def render_places_table(places, label):            
        <h2>$label</h2>
        <table class="table table-bordered">
            $ serial = counter()
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Coordinators</th>
                <th>Volunteers</th>
                <th style="width: 200px;">Coverage</th>
            <tr> 
            $for p in places:
                $ counts = p.get_counts()
                $ vcounts = p.get_volunteer_counts()
                $if sum(vcounts.values()):
                    $:render_place(p, "active", serial.next())

            $for p in places:
                $ counts = p.get_counts()
                $ vcounts = p.get_volunteer_counts()
                $if not sum(vcounts.values()):
                    $:render_place(p, "inactive", serial.next())
        </table>    

    $if place.subtype:
        $:render_places_table(place.get_places(), plural(place.subtype_label))

    $if place.type == "AC":
        $ pbs = place.get_unassigned_polling_booths()
        $if pbs:
            $:render_places_table(pbs, "Polling Booths Not Assigned to Any Ward")
  </div>
  <div class="col-md-3 sidebar hidden-print">
    $:render_template("place_sidebar", place)
  </div>
</div>

