$def with (users)
$var title: Users

<h1>Users</h1>
<table class="table table-bordered">
    $for person in users:
        <tr class="person person-$person.role">
            <td style="width: 20px;">$loop.index</td>
            <td><strong>$person.name</strong> <small>$person.role.title()</small><br/>
                $if person.email:
                    <div><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:$person.email">$person.email</a></div>
                $if person.phone:
                    <div><span class="glyphicon glyphicon-phone-alt"></span> <a href="tel:$person.phone">$person.phone</a></div>
            </td>
        </tr>
</table>

<div>
<a href="/users?action=add" class="btn btn-primary active" role="button"><span class="
glyphicon glyphicon-plus"></span> User</a>
</div>
