$def with (place, i)
$var subject: Thanks for signing up as volunteer
Dear $i.name,

Thank for signing up as volunteer for Loksatta Party.

You have signup with the following details:

Name: $i.name
Phone: $i.phone
Email: $i.email
Locality: $i.address

Your locality is part of:

$if place.type == "ward":
    $place.name Ward
    $place.get_parent("AC").name Assembly Constituency
    $place.get_parent("PC").name Parliamentary Constituency
    $ coordinators = place.get_coordinators()
$elif place.type == "AC":
    $place Assembly Constituency
    $place.get_parent("PC").name Parliamentary Constituency
    $ coordinators = place.get_coordinators()
$else:
    $ coordinators = []

$if coordinators:
    $if len(coordinators) == 1:
        The co-ordinator of this ward is:
    $else:
        The co-ordinators of this ward are:

    $for c in coordinators:
        $c.name
        $c.phone
        $c.email

Thank you,
Loksatta Party