$def with (place, agent)
<div class="container-fluid">
    <div style="padding: 0px 20px;">
        <h1>Thank You!</h1>
        <div>
<p>Thank you for stepping up and volunteering to be a booth agent.</p> 
<p>Together, we can easily overthrow the corrupt politicians and bring in the change that we wish to see in the country.</p>

$if not agent.get_voterid_info():
    <p>Please don't forget to provide your voter ID to complete this registration. We've sent you an email with a link to submit your voter ID.</p>

<p>Jai Hind! Jai Karnataka!!</p>
        </div>
    </div>
</div>
