$def with (form, done=False)

$var container_class = "container"

<div class="container">

$if done:
    <h1>Done!</h1>
    <p>The email address <strong>$form.email.data</strong> has been successfully unsubscribed.</p>
$else:
    <h1>Unsubscribe</h1>
    <p>Please enter your email address to stop receiving email us.</p>
    <form method="POST" class="form-inline" role="form">
      <div class="form-group">
        <label class="sr-only" for="exampleInputEmail2">Email address</label>
        <input type="email" name="email" class="form-control input-lg" id="email" placeholder="Enter email" value="$form.email.data" style="width: 300px;">
      </div>
      <button type="submit" class="btn btn-primary btn-lg">Unsubscribe</button>
    </form>
</div>