$def with (voter=None, query=None)

$var container_class = "container"

<div class="container">
    <h1>Search by Voter ID</h1>

    <form method="GET" class="form-inline">
      <div class="form-group">
        <label class="sr-only" for="voterid">Voter ID</label>
        <div class="input-group input-group-lg">
            <input type="text" name="voterid" class="form-control" id="voterid" placeholder="Enter Your Voter ID" value="$query">
        </div>
      </div>
      <button type="submit" class="btn btn-lg btn-primary">Search</button>
    </form>
    <br/>
    <br/>

    $if voter:
        <strong>Found a match</strong>
        <br/>
        <br/>

        <table class="table" style="width: 500px;">
            <tr><td>Name</td><td>$voter.name</td></tr>
            <tr><td>Relation Name</td><td>$voter.relname</td></tr>
            <tr><td>Age/Sex</td><td>$voter.age_sex</td></tr>
            <tr><td>Assembly Constitency</td><td>$voter.ac_name</td></tr>
            <tr><td>Polling Center</td><td>$voter.booth_name</td></tr>
            <tr><td>Part</td><td>$voter.part</td></tr>
            <tr><td>Serial</td><td>$voter.srno</td></tr>
        </table>
</div>
